/*
  --white: #F9F9F9;
  --cream: #EDF1E9;
  --black: #333333;
  --gray: #76817F;
*/

@media (max-width: 768px){
  .full_content_header {
    justify-content: center;
  }

  .full_content_header > p {
    font-size: 2.5rem;
  }
}

@media (min-width: 769px){
  .full_content_header {
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .full_content_header > p {
    font-size: 2.2rem;
  }
}


.layout {
  background-color: #F9F9F9;
}

.full_content {
  display: grid;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
  width: 100vw;
}

.full_content_header {
  background-color: #333333;
  display: flex;
  align-items: center;
}

.full_content_header > p{
  color: #F9F9F9;
}

.full_content_main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  Registration component styles
*/

.registration_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration_content > p {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333333;
}

.registration_content > hr {
  height: 0.2rem;
  border: none;
  background-color: #dae0df;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1.3rem;
}
