/*
  --white: #F9F9F9;
  --cream: #EDF1E9;
  --black: #333333;
  --gray: #76817F;
*/

/* 
Styles for screens smaller or equal than 768px width 
*/

@media (max-width: 768px){
  .header {
    justify-content: center;
  }

  .header > p {
    font-size: 2.5rem;
  }
}

@media (min-width: 769px){
  .header {
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .header > p {
    font-size: 2.2rem;
  }
}


.layout {
  background-color: #F9F9F9;
}

.body {
  display: grid;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #333333;
  display: flex;
  align-items: center;
}

.header > p{
  color: #F9F9F9;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
