/*
  --white: #F9F9F9;
  --cream: #EDF1E9;
  --black: #333333;
  --gray: #76817F;
  --gray-border: #D6D6D6;
  --gray-second: #6A7A7A;
*/

.label > input {
  border: none;
  border-style: solid;
  border-color: #6A7A7A;
  border-width: 0.1rem;
  border-radius: 0.3rem;
  height: 2.3rem;
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.label > p {
  font-size: 1.5rem;
}

.label > input::placeholder {
  font-size: 1.5rem;
}