.registration_content > hr {
  height: 0.2rem;
  border: none;
  background-color: #dae0df;
  width: 100%;
  margin-top: 1rem;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

