/*
  --white: #F9F9F9;
  --cream: #EDF1E9;
  --black: #333333;
  --gray: #76817F;
*/

/* 
Styles for screens smaller or equal than 768px width 
*/

@media (max-width: 425px){
  
  .registration_content > p {
    font-size: 1rem;
  }

  .qr_icon {
    width: 7rem;
  }
}

@media (min-width: 426px){

  .registration_content > p {
    font-size: 1.5rem;
  }

  .qr_icon {
    width: 9rem;
  }
}


.layout {
  background-color: #F9F9F9;
}

/*
  Registration component styles
*/

.registration_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration_content > p {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333333;
}

.registration_content > hr {
  height: 0.2rem;
  border: none;
  background-color: #dae0df;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1.3rem;
}
