/*
  --white: #F9F9F9;
  --cream: #EDF1E9;
  --black: #333333;
  --gray: #76817F;
  --gray-border: #D6D6D6;
*/

.header > p {
  color:  #EDF1E9;
  font-size: 2.6rem;
}

.header > p {
  color:  #EDF1E9;
  font-size: 2.6rem;
}

.main {
  border-color: #D6D6D6;
  border-style: solid;
  border-width: 0.3rem;
  border-end-start-radius: 0.6rem;
  border-end-end-radius: 0.6rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  border-start-start-radius: 0.6rem;
  border-start-end-radius: 0.6rem;
}

.body {
  background-color: #F9F9F9;
  display: grid;
  grid-template-rows: 3fr 10fr;
}

@media (max-width: 425px){
  .body {
    width: 15rem;
    height: 25rem;
  }

  .header > p {
    color:  #EDF1E9;
    font-size: 2rem;
  }
}

@media (min-width: 426px) and (max-width: 768px){
  .body {
    width: 20rem;
    height: 25rem;
  }
}

@media (min-width: 769px){
  .body {
    width: 43rem;
    height: 45rem;
  }
}