/*
  --white: #F9F9F9;
  --cream: #EDF1E9;
  --black: #333333;
  --gray: #76817F;
  --gray-border: #D6D6D6;
*/

/* 
Styles for screens smaller or equal than 768px width 
*/
@media (max-width: 425px){

  .registration_header {
    height: 5rem;
  }
  
  .registration_header > p {
    font-size: 2rem;
  }


  .registration_body {
    width: 15rem;
    height: 25rem
  }
}


@media (min-width: 426px){

  .registration_body {
    width: 25rem;
    height: 30rem
  }

  .registration_header {
    height: 7rem;
  }

  .registration_header > p {
    font-size: 2.3rem;
  }
}

.registration_body {
  background-color: #F9F9F9;
  display: grid;
  grid-template-rows: 3fr 10fr;
}

.registration_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  border-start-start-radius: 0.6rem;
  border-start-end-radius: 0.6rem;
}

.registration_header > p {
  color:  #EDF1E9;
}


.registration_main {
  border-color: #D6D6D6;
  border-style: solid;
  border-width: 0.3rem;
  border-end-start-radius: 0.6rem;
  border-end-end-radius: 0.6rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}


